Source: libccarray
Priority: optional
Maintainer: Piotr Hałas <piotr@halas.net.pl>
Build-Depends: debhelper (>= 9), cmake, autotools-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/s2x/ccArray

Package: libccarray-dev
Section: libdevel
Architecture: any
Depends: libccarray (= ${binary:Version}), ${misc:Depends}
Description: C++ implementation on PHP array

Package: libccarray
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ implementation on PHP array

